#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  margin: 10px;
  color: #444;
  background-color: #ddd;
}

.customRadioDiv {
  display: grid;
  clear: both;
  margin: 0 0 20px;
}

.product {
  padding: 5px;
  margin: 5px;
  border: 1px;
  background-color: #eee;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 3px 2px 2px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.customRadioLabel {
  width: 400px;
  border-radius: 3px;
  margin: 0 0 0 0;
  border: 1px solid #999;
}

.radio {
  height: 0;
}

/* hide input */
input.radio:empty {
  margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 2.5em;
  background: #d1d3d4;
  border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #c2c2c2;
}

input.radio:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #9ce2ae;
  background-color: #4dcb6d;
}

input.radio:checked ~ label {
  color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.navbar {
  size: 40px;
}

.navbar-brand {
  font-family: "Lato", sans-serif;
  color: grey;
  font-size: 50px !important;
  margin: 0px;
}

.container-fluid {
  padding-top: 120px !important;
}

.container {
  margin-top: 60px;
  background-color: #eee;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
  padding: 10px;
}
